**Load the required libraries and data**

In [1]:
# Libraries
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt 
import seaborn as sns

In [2]:
# Data  
appointment_df = pd.read_csv("../data/Appointments List.csv", 
                             encoding='UTF-16', delimiter="\t")

/tmp/ipykernel_44624/1929627687.py:2: DtypeWarning: Columns (0,3,14) have mixed types. Specify dtype option on import or set low_memory=False.
  appointment_df = pd.read_csv("../data/Appointments List.csv",

# Explanatory Data Analysis
## Data Preparation

In [3]:
appointment_df.head()

,Appointment UID,Appt Status Description,Date Of Service,Chartnumber,NurseName,FirstTreatmentApptInd,Appt Type Group,Appt Type,Created By,Provider,Facility City,Room,Column Heading,#,Count of tblAppointments,Patient FID
0,Grand Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,Total,"55,975",*
1,1,Made,01/01/00,NaN,NaN,N,Default,NaN,system,",",NaN,Other,NaN,1,1,1
2,109,Seen,01/22/18,1,NaN,N,Intake,TMS INTAKE DR. BRENNER,EMILY,"BRENNER,DANIEL A",CAMBRIDGE,Other,DR. BRENNER,2,1,"5,283"
3,239,Seen,01/22/18,2,NaN,N,MH Infusion,KETAMINE MH -INFUSION ONLY,EMILY,"BRENNER,DANIEL A",CAMBRIDGE,Other,2C,3,1,"5,286"
4,240,Made,01/22/18,9,NaN,N,Intake,TMS INTAKE DR. BRENNER,EMILY,"BRENNER,DANIEL A",CAMBRIDGE,Other,DR. BRENNER,4,1,"5,351"

In [4]:
appointment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55976 entries, 0 to 55975
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Appointment UID           55976 non-null  object
 1   Appt Status Description   55976 non-null  object
 2   Date Of Service           37250 non-null  object
 3   Chartnumber               55975 non-null  object
 4   NurseName                 19321 non-null  object
 5   FirstTreatmentApptInd     54678 non-null  object
 6   Appt Type Group           54678 non-null  object
 7   Appt Type                 54677 non-null  object
 8   Created By                55976 non-null  object
 9   Provider                  55976 non-null  object
 10  Facility City             51738 non-null  object
 11  Room                      55976 non-null  object
 12  Column Heading            54697 non-null  object
 13  #                         55976 non-null  object
 14  Count of tblAppointments  55976 non-null  object
 15  Patient FID               55976 non-null  object
dtypes: object(16)
memory usage: 6.8+ MB

In [5]:
# Drop the first two rows 
appointment_df.drop(index=[0, 1], inplace=True)

In [6]:
appointment_df["Chartnumber"] = pd.to_numeric(appointment_df["Chartnumber"], errors="coerce")
appointment_df["Date"] = pd.to_datetime(appointment_df["Date Of Service"], errors="coerce")

/tmp/ipykernel_44624/2432676088.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  appointment_df["Date"] = pd.to_datetime(appointment_df["Date Of Service"], errors="coerce")

In [7]:
# Replace "Made" with "Seen"
appointment_df["Appt Status Description"].replace(to_replace="Made", value="Seen", inplace=True)

In [8]:
appointment_df["Facility City"].isna().sum()

4237

In [9]:
appointment_df["Facility City"] = appointment_df["Facility City"].ffill().backfill()

/tmp/ipykernel_44624/1807988571.py:1: FutureWarning: DataFrame.backfill/Series.backfill is deprecated. Use DataFrame.bfill/Series.bfill instead
  appointment_df["Facility City"] = appointment_df["Facility City"].ffill().backfill()

In [10]:
# Confirm if there are still null values
appointment_df["Facility City"].isna().sum()

0

In [11]:
# Select the successfull appointments(visits)
seen_df = appointment_df[appointment_df["Appt Status Description"]=="Seen"]

# subset the data set 
subset_columns = ["Date", "Chartnumber", "Appt Type Group", "Facility City"]
seen_df = seen_df[subset_columns]

# Drop any record with null values 
seen_df.dropna(how="any", inplace=True)

In [12]:
# Calculate the percentage of patients who start with intake 
count = 0
chart_numbers = seen_df["Chartnumber"].unique()

for chart_no in chart_numbers:
    # Filter the data set 
    df_by_chart_no = seen_df[seen_df["Chartnumber"]==chart_no].sort_values(by="Date")
    df_by_chart_no.reset_index(drop=True, inplace=True)
    
    if df_by_chart_no["Appt Type Group"][0]=="Intake":
        count+=1
    else:
        pass
    
# Patients enrolled with an intake    
count/seen_df["Chartnumber"].nunique()

0.8556767158434894

approximately 86% of the patients enrolled with an intake instead of treatment or follow up

Features/Variables to include in the post intake dataset 

* Chart number 
* First Service after enrollment
* First Service after intake
* Days after intake
* Days between MH Infusion and Intake 
* Number of visits
* Number of MH infusions

* Number of MH infusions outside cambridge 
* Number of visits outside cambridge

In [22]:
first_service_after_enrollment = []
first_service_after_intake = []
days_after_intake = []
days_btn_mhinfusion_intake = []
visit_count = []
mhInfusion_count = []

# Additional Modifications
infusion_count_outside_cambridge = []
visit_count_outside_cambridge = []
intake_facility_city = [] # not yet implemented



for chart_no in chart_numbers:
    # Filter the data set by chart number
    df_by_chart_no = seen_df[seen_df["Chartnumber"]==chart_no].sort_values(by="Date")
    df_by_chart_no.reset_index(drop=True, inplace=True)
    
    # Get the required data 
    first_service_after_enrollment.append(df_by_chart_no["Appt Type Group"][0])
    visit_count.append(df_by_chart_no.shape[0])
    mhInfusion_count.append(df_by_chart_no["Appt Type Group"].to_list().count('MH Infusion'))
    
    # Get the additional data 
    ## Filter out Cambridge visits from the data
    outside_cambridge_df = df_by_chart_no[df_by_chart_no["Facility City"]!="CAMBRIDGE"]
    visit_count_outside_cambridge.append(outside_cambridge_df.shape[0])
    
    ## Count the number of infusions outside cambridge
    infusion_count_outside_cambridge.append(outside_cambridge_df["Appt Type Group"].tolist().count('MH Infusion'))
    
    # The below line checks if there is another service before intake
    if "Intake" in df_by_chart_no["Appt Type Group"].tolist():
        print(chart_no)
        print(df_by_chart_no["Appt Type Group"].tolist().index("Intake"))
    
    if df_by_chart_no["Appt Type Group"][0] == "Intake":
        # Check if there exists multiple services
        if df_by_chart_no.shape[0] > 1:
            first_service_after_intake.append(df_by_chart_no["Appt Type Group"][1])

            # Calculate days after intake
            days_1 = (df_by_chart_no["Date"][1] - df_by_chart_no["Date"][0]).days
            days_after_intake.append(days_1)

            # Calculate days between intake and MH infusion
            try:
                mhInfusion_index = df_by_chart_no["Appt Type Group"].tolist().index('MH Infusion')
                days_2 = (df_by_chart_no["Date"][mhInfusion_index] - df_by_chart_no["Date"][0]).days
                days_btn_mhinfusion_intake.append(days_2)
            except ValueError: 
                days_btn_mhinfusion_intake.append(np.nan)
                
        # Add another else if for patients whose had intakes but not as their first service
        
            
        else:
            first_service_after_intake.append(np.nan)
            days_after_intake.append(np.nan)
            days_btn_mhinfusion_intake.append(np.nan)
        
    else: 
        first_service_after_intake.append(np.nan)
        days_after_intake.append(np.nan)
        days_btn_mhinfusion_intake.append(np.nan)

1
0
9
0
6
0
12
0
5
0
3
0
13
0
118
1
24
13
119
0
52
57
116
0
122
0
123
0
125
0
127
0
131
0
132
0
133
0
134
0
135
0
136
0
137
0
128
0
138
0
139
0
141
0
143
0
144
0
149
0
152
0
150
0
157
63
159
0
160
0
162
0
163
0
168
0
170
0
171
0
166
0
174
0
175
0
176
0
179
0
156
0
180
0
185
0
188
0
189
0
191
0
193
0
194
0
192
0
200
0
201
0
204
0
206
0
207
0
210
0
195
0
212
0
211
0
213
0
215
0
216
0
209
0
217
0
218
0
220
0
223
0
224
0
225
0
226
0
178
0
229
0
227
0
231
8
235
0
237
0
238
0
239
0
240
0
241
0
242
0
244
0
245
0
248
0
251
0
252
0
255
0
258
0
250
0
243
0
264
0
268
0
271
0
273
0
276
3
283
0
272
0
286
0
285
0
290
0
291
0
292
0
293
0
294
0
300
0
302
0
287
0
304
0
307
0
314
0
310
0
320
0
325
0
321
0
327
0
274
0
332
0
318
0
333
0
312
0
328
0
336
0
329
0
323
0
339
0
341
0
85
0
340
0
343
0
349
0
344
0
350
0
353
0
359
0
351
0
364
0
315
0
362
0
365
0
374
0
376
0
358
0
375
0
382
0
384
0
383
0
377
0
387
0
386
0
388
0
389
0
390
0
391
0
393
0
394
0
396
0
399
0
405
0
417
0
414
0
411
0
420
0
424
0
422
0
426
0
427
0
434
0
435
0
407
0
441
0
439
0
442
0
443
0
445
0
446
0
447
0
449
0
448
0
453
0
354
0
457
0
458
0
466
0
463
0
451
0
484
0
470
0
481
0
479
0
483
0
485
0
487
0
489
0
488
0
491
0
493
0
494
0
492
0
477
0
455
0
498
0
499
0
500
0
502
0
503
0
504
0
348
0
509
0
514
0
515
0
512
0
507
0
518
0
513
0
519
0
521
0
523
0
524
0
525
0
495
0
527
0
528
0
531
0
346
0
236
0
533
0
534
0
535
0
538
0
539
0
541
0
542
0
543
0
532
0
545
0
544
0
540
0
547
0
546
0
548
0
35
0
550
0
551
0
552
0
554
0
555
0
557
0
558
0
559
0
560
0
561
0
563
0
564
0
565
0
566
0
567
0
569
0
571
0
562
0
572
0
574
0
573
0
576
0
578
0
579
0
582
0
583
0
584
0
586
0
588
0
590
0
591
0
592
0
593
0
594
0
595
0
587
0
597
0
598
0
599
0
600
0
601
0
603
0
604
0
605
0
607
0
608
0
614
0
615
0
621
0
623
0
624
0
625
0
622
0
628
0
629
0
631
0
617
0
633
0
634
0
635
0
616
0
636
0
632
0
639
0
640
0
641
0
648
0
649
0
650
0
651
0
652
0
611
0
657
0
658
0
660
0
661
0
662
0
663
0
664
0
665
0
666
0
637
0
644
0
669
0
670
0
671
0
673
0
619
0
675
0
465
0
676
0
678
0
679
0
672
0
697
0
696
0
691
0
694
0
703
0
705
0
706
0
707
0
687
0
710
0
712
0
713
0
717
0
722
0
719
0
721
0
718
0
725
0
727
0
726
0
728
0
729
0
730
0
734
0
715
0
735
0
731
0
733
0
755
0
756
0
754
0
760
0
764
0
758
0
762
0
766
0
769
0
767
0
765
0
773
0
770
0
771
0
776
0
778
0
777
0
782
0
780
0
775
0
783
0
791
0
790
0
787
0
795
0
797
0
801
0
802
0
803
0
807
0
808
0
810
0
813
0
812
0
809
0
804
0
818
2
814
0
816
0
821
0
815
0
822
0
824
0
825
0
799
0
828
0
831
0
834
0
832
0
839
0
841
0
843
0
852
0
849
0
847
0
855
0
845
0
846
0
859
0
856
0
857
0
844
0
865
0
866
0
867
0
869
0
868
0
875
0
873
0
877
0
870
0
880
0
872
0
882
0
886
0
890
0
888
0
892
0
889
0
893
0
895
0
898
0
897
0
900
0
891
0
903
0
899
0
904
0
906
0
894
0
817
0
907
0
912
0
913
0
910
0
916
0
896
0
914
0
918
0
923
0
915
0
905
0
917
0
920
0
924
0
928
0
927
0
933
0
919
0
929
0
931
0
934
0
932
0
940
0
921
0
942
0
945
0
935
0
947
0
938
0
936
0
937
0
943
0
944
0
939
0
950
0
953
0
956
0
964
0
951
0
949
0
961
0
960
0
965
0
959
0
969
0
963
0
970
0
971
0
968
0
941
0
976
0
984
0
674
0
982
0
986
0
992
0
987
0
989
0
990
0
980
0
993
0
995
0
994
0
988
0
999
0
998
0
1003
0
1004
0
1001
0
1002
0
1009
0
1006
0
922
0
1007
0
1012
0
1010
0
1013
0
1015
0
1011
0
1017
0
1023
0
1030
0
1031
0
1029
0
1024
0
1032
0
1016
0
1019
0
1022
0
1034
0
1039
0
1020
0
1038
0
1045
0
883
0
1051
0
1036
0
1048
0
1028
0
1046
0
1049
0
1021
0
1055
0
1042
0
1057
0
1058
0
1033
0
1065
0
1059
0
1063
0
1047
0
1060
0
1067
0
1068
0
1066
0
1071
0
1079
0
1075
0
1074
0
1070
0
1086
0
1077
0
1080
0
835
0
1078
0
1083
0
1082
0
1084
0
1087
0
1089
0
1092
0
977
0
1076
0
1085
0
1095
0
1096
0
1094
0
1099
0
1100
0
1101
0
1091
0
1105
0
1093
0
1108
0
1090
0
1107
0
1104
0
1114
0
1112
0
1123
0
1124
0
1118
0
1097
0
1121
0
1120
0
1126
0
1129
0
1128
0
1127
0
1116
0
1125
0
1122
0
1136
0
1072
0
1134
0
1135
0
1144
0
1133
0
1137
0
1132
0
1151
0
1150
0
1161
0
1149
0
1160
0
1146
0
1164
0
1152
0
1156
0
1145
0
1155
0
1113
0
1130
0
979
0
1115
0
1171
0
1143
0
1170
0
1167
0
1173
0
1169
0
1174
0
1177
0
1178
0
1184
0
1186
0
1180
0
1185
0
1142
0
1208
0
1153
0
1214
0
1196
0
1198
0
1200
0
1191
0
1204
0
1211
0
1223
0
1220
0
1203
0
1202
0
1188
0
1205
0
1207
0
1206
0
1176
0
1209
0
1183
0
1230
0
1221
0
1215
0
1190
0
962
0
736
0
1236
0
1224
0
1231
0
1227
0
1235
0
1238
0
1241
0
1244
0
1237
0
1248
0
1249
0
1245
0
1252
0
1250
0
1256
0
1253
0
1257
0
1262
0
1258
0
1259
0
1260
0
1263
0
1265
0
1266
0
1268
0
1269
0
1275
0
1240
0
1272
0
1281
0
1274
0
1162
0
1283
0
1280
0
1279
0
1273
0
1299
0
1278
0
1285
0
1246
0
1276
0
1292
0
1321
0
1288
0
1302
0
1304
0
1298
0
1296
0
1308
0
1307
0
1312
0
1331
0
1333
0
1334
0
1315
0
1340
0
1325
0
1324
0
1341
0
1318
0
1322
0
1336
0
1342
0
1323
0
1313
0
1348
0
1344
0
1226
0
1356
0
1364
0
1360
0
1337
0
1317
0
1311
0
1352
0
1354
0
1353
0
1363
0
1372
0
1179
0
1355
0
1373
0
1369
0
1374
0
1330
0
1358
0
1375
0
1370
0
1380
0
1381
0
1384
0
1357
0
1378
0
1383
0
1395
0
1387
0
1396
0
1366
0
1399
0
1382
0
1400
0
1402
0
1218
0
1397
0
1407
0
1401
0
1412
0
1332
0
1417
0
1413
0
1420
0
1418
0
1419
0
1426
0
1425
0
1404
0
1415
0
1429
0
1430
0
1421
0
1436
0
1427
0
1377
0
1438
0
1433
0
1261
0
1437
0
1428
0
1444
0
1445
0
1446
0
1447
0
1453
0
1443
0
1439
0
1455
5
1465
0
1456
0
1467
0
1468
0
1454
0
1440
0
1410
0
1300
0
1466
0
1460
0
1450
0
1475
0
1471
0
1477
0
1478
0
1474
0
1469
0
1472
0
1476
0
1470
0
1482
0
1483
0
1486
0
1493
0
1488
0
1408
0
1459
0
1491
0
1481
0
1497
0
1492
0
1490
0
1499
0
1484
0
1498
0
1505
0
1251
0
1495
0
1368
0
1502
0
1515
0
1519
0
1514
0
1504
0
1517
0
1518
0
1516
0
1521
0
1487
0
1522
0
1526
0
1527
0
1530
0
1529
0
1524
0
1536
0
1462
0
1534
0
1545
0
1551
0
1549
0
1555
0
1559
0
1558
0
1556
0
1564
0
1557
0
1561
0
1568
0
1563
0
1569
0
1566
0
1571
0
1570
0
1573
0
1576
0
1574
0
1119
0
1586
0
1592
0
1590
0
1595
0
1583
0
1597
0
1591
0
1598
0
1604
0
1577
0
1582
0
1607
0
1601
0
1610
0
1611
0
1602
0
1614
0
1606
0
1593
0
1618
0
1603
0
1535
0
1596
0
1623
0
1615
0
1587
0
750
0
1588
0
1621
0
1622
0
1627
0
1626
0
1589
0
1616
0
1630
0
1631
0
1635
0
1600
0
1636
0
155
0
1640
0
1642
0
1643
0
1644
0
1242
0
1646
0
1645
0
1650
0
1651
0
1543
0
1656
0
1628
0
1657
0
1658
0
1660
0
1662
0
1649
0
1666
0
1579
0
1670
0
1655
0
1665
0
1671
0
1673
0
779
0
1677
0
1675
0
1679
0
1682
0
1685
0
1687
0
1693
0
1701
0
1702
0
1653
0
1705
0
1706
0
1707
0
1708
0
1709
0
1710
0
1480
0
1711
0
1712
0
1713
0
1714
0
1715
0
1716
0
1717
0
1718
0
1719
0
1720
0
1722
0
1723
0
1724
0
1676
0
1728
0
1729
0
1731
0
1732
0
1736
0
1737
0
1739
0
1744
0
1746
0
1749
0
1750
0
1752
0
1753
0
1758
0
1767
0
1763
0
1725
0
1756
0
1770
0
1761
0
1781
0
1776
0
1648
0
1788
0
1777
0
1787
0
1795
0
1794
0
1806
0
1808
0
1785
0
1742
0
1801
0
1812
0
1792
0
1799
0
1773
0
1809
0
1805
0
1810
0
1820
0
1814
0
1829
0
1823
0
1831
0
1827
0
1839
0
1837
0
1838
0
1828
0
1847
0
1852
0
1857
0
1861
0
1860
0
1866
0
1868
0
1869
0
1850
0
1819
0
1876
0
1878
0
1879
0
1816
0
1862
0
1633
0
1877
0
1887
0
1882
0
1875
0
1674
0
1888
0
1870
0
1694
0
1892
0
1885
0
1881
0
1895
0
1900
0
1844
0
1903
0
1894
0
1907
0
1822
0
1902
0
1883
0
1915
0
1918
0
1921
0
1920
0
1927
0
1923
0
1935
0
1941
0
1931
0
1867
0
1947
0
1955
0
1942
0
1957
0
1962
0
1946
0
1938
0
1949
0
1966
0
1968
0
1958
0
1797
0
1937
0
1952
0
1874
0
1967
0
1978
0
1979
0
1974
0
1981
0
1985
0
1964
0
1995
0
1996
0
1983
0
1992
0
2005
0
1987
0
1991
0
2000
0
2001
0
2003
0
2004
0
1871
0
2009
0
2017
0
2011
0
1948
0
2021
0
2028
0
2013
0
1993
0
2027
0
2039
0
1901
0
1818
0
2035
0
1768
0
2024
0
2025
0
2007
0
2034
0
1975
0
2055
0
2058
0
2036
0
2031
0
2065
0
2045
0
2043
0
2068
0
2029
0
2070
0
2071
0
2061
0
2076
0
2019
0
2042
0
2082
0
2037
0
2089
0
2084
0
2060
9
2080
0
2083
0
2093
0
2040
0
2094
0
2088
0
2090
0
2092
0
2073
0
2100
0
2097
0
2106
0
2103
0
2062
0
2102
0
2064
0
2114
0
1873
0
2119
0
2091
0
2113
0
2120
0
2109
0
2067
0
2110
0
2117
0
2134
0
2140
0
2141
0
2143
0
2146
0
2157
0
2132
0
2167
0
2166
0
2030
0
2165
0
2162
0
2152
0
2107
0
2147
0
2131
0
2180
0
2133
0
2173
0
2159
0
2176
0
2161
0
2179
0
2185
0
2153
0
1909
0
2188
0
2139
0
2123
0
2174
0
2193
0
2192
0
2197
0
2194
0
2187
0
2198
0
2170
0
2203
0
2204
0
2211
0
2202
0
2163
0
2186
0
2215
0
2213
0
2124
0
2214
0
2205
0
2216
0
2199
0
2226
0
2228
0
2236
0
2234
0
2233
0
1541
0
2242
0
2239
0
2243
0
2238
0
2241
0
2230
0
2244
0
2237
0
2220
0
2251
0
2222
0
2254
0
2252
0
2200
0
2258
0
2253
0
2260
0
2268
0
2273
0
2274
0
2277
0
2249
0
2250
0
2283
0
2285
0
2052
0
2235
0
2156
0
2288
0
2292
0
2048
0
2295
0
2299
0

2301
0
2304
0
2298
0
2276
0
2306
0
2305
0
2287
0
2314
0
2201
0
2316
0
2319
0
2302
0
2310
0
2325
0
2308
0
2322
0
2327
0
2330
0
2206
0
2340
0
2332
0
2335
0
2318
0
2328
0
2338
0
2209
0
2336
0
2284
0
2331
0
2339
0
2350
0
2347
0
2354
0
2359
0
2352
0
2351
0
2357
0
2361
0
2371
0
2367
0
2370
0
2369
0
2368
0
2377
0
2380
0
2385
0
2383
0
2375
0
2413
0
2428
0
2455
0
2457
0
2482
0
2487
0
2493
0
2503
0
2491
0
2485
0
2516
0
2544
0
2565
0
2548
0
2582
0
2657
0
2669
0
2674
0

In [14]:
stop here

SyntaxError: invalid syntax (4067800170.py, line 1)

In [ ]:
seen_df[(seen_df["Facility City"]!="CAMBRIDGE")&(seen_df["Chartnumber"]==1909)]

In [29]:
seen_df[seen_df["Chartnumber"]==24].reset_index().head(20)

    index       Date  Chartnumber Appt Type Group Facility City
0     131 2018-01-29           24             TMS     CAMBRIDGE
1     136 2018-01-30           24             TMS     CAMBRIDGE
2     137 2018-01-31           24             TMS     CAMBRIDGE
3     138 2018-02-01           24             TMS     CAMBRIDGE
4     304 2018-02-02           24             TMS     CAMBRIDGE
5     305 2018-02-05           24             TMS     CAMBRIDGE
6     371 2018-02-06           24             TMS     CAMBRIDGE
7     372 2018-02-07           24             TMS     CAMBRIDGE
8     373 2018-02-08           24             TMS     CAMBRIDGE
9     374 2018-02-09           24             TMS     CAMBRIDGE
10    376 2018-02-13           24             TMS     CAMBRIDGE
11    382 2018-02-21           24             TMS     CAMBRIDGE
12    629 2018-02-16           24             TMS     CAMBRIDGE
13   4439 2018-11-26           24          Intake     CAMBRIDGE
14   4494 2018-11-27           24     MH Infusion     CAMBRIDGE
15   4500 2018-11-26           24             TMS     CAMBRIDGE
16   4513 2018-11-27           24             TMS     CAMBRIDGE
17   4514 2018-11-29           24     MH Infusion     CAMBRIDGE
18   4515 2018-11-30           24     MH Infusion     CAMBRIDGE
19   4516 2018-12-03           24     MH Infusion     CAMBRIDGE

In [ ]:
stop here

In [ ]:
# Create a dataframe  
post_intake_df = pd.DataFrame({
    "Chartnumber" : chart_numbers,
    "Visit Count":visit_count,
    "First Service After Enrollment" : first_service_after_enrollment,
    "First Service After Intake":first_service_after_intake,
    "Days After Intake":days_after_intake,
    "Days between MH Infusion and Intake": days_btn_mhinfusion_intake,
    "Number of MH infusions": mhInfusion_count,
    "Number of MH infusions outside Cambridge":infusion_count_outside_cambridge,
    "Number of Visits outside Cambridge":visit_count_outside_cambridge
})

In [ ]:
post_intake_df

In [ ]:
stop here

In [ ]:
seen_df[seen_df["Chartnumber"]==10]["Appt Type Group"].tolist().index('MH Infusion')

In [ ]:
appointment_df[appointment_df["Facility City"]!="CAMBRIDGE"]

In [ ]:
appointment_df[appointment_df["Chartnumber"]==2194]

## Data Analysis and Visualization

# Conclusion

**Challenges**

- Not all patients in the records started with an intake 
- It is cumbersome to focus this analysis on cambridge since some patients visited cambridge and other facilities for instance chart# 2194. - Fix this by counting the number of visits and infusions outside the Cambridge facility.
- There are some patients that had other services before intake for instance chart#s 24 and 118